@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: "Comfortaa";
    src: url("/fonts/Comfortaa-Regular.ttf");
  }

  @font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrainsMono-Regular.ttf");
  }

  @font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand-Regular.ttf");
  }

  :root {
    --background: 240 5% 96%;
    --foreground: 240 10% 3.9%;
    --card: 240 5% 96%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 5% 96%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 160 84% 39%;
    --primary-foreground: 0 0% 98%;
    --secondary: 173 80% 40%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 6% 90%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 5% 84%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 6% 90%;
    --radius: 0.5rem;
    --comfortaa: "Comfortaa", "Arial";
    --jet-brains-mono: "JetBrainsMono", "Arial";
    --quicksand: "Quicksand", "Arial";
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 0 0% 98%;
    --card: 224 71% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 160 84% 39%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 173 80% 40%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 217 19% 27%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 215 28% 17%;
    --radius: 0.5rem;
    --comfortaa: "Comfortaa", "Arial";
    --jet-brains-mono: "JetBrainsMono", "Arial";
    --quicksand: "Quicksand", "Arial";
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--accent));
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--primary) / 0.7);
  border-radius: var(--radius);
}
