@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Comfortaa";
  src: url("/fonts/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Regular.ttf");
}

:root {
  --background: oklch(0.9183 0.0027 106.45);
  --foreground: oklch(0.2652 0.0024 67.72);
  --card: oklch(0.9731 0 0);
  --card-foreground: oklch(0.4016 0.0051 91.52);
  --popover: oklch(0.9731 0 0);
  --popover-foreground: oklch(0.4016 0.0051 91.52);
  --primary: oklch(0.696 0.17 162.48);
  --primary-foreground: oklch(0.95 0.052 163.051);
  --secondary: oklch(0.704 0.14 182.503);
  --secondary-foreground: oklch(0.953 0.051 180.801);
  --muted: oklch(0.878 0.0095 100);
  --muted-foreground: oklch(0.2666 0.0071 67.52);
  --accent: oklch(0.875 0.0054 106.51);
  --accent-foreground: oklch(0.2666 0.0071 67.52);
  --destructive: oklch(0.645 0.246 16.439);
  --destructive-foreground: oklch(0.941 0.03 12.58);
  --border: oklch(0.875 0.0054 106.51);
  --input: oklch(0.875 0.0054 106.51);
  --ring: oklch(0.6983 0.0087 98.94);
  --radius: 0.5rem;
  --comfortaa: "Comfortaa", "Arial";
  --jet-brains-mono: "JetBrainsMono", "Arial";
  --quicksand: "Quicksand", "Arial";

  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px rgb(from var(--shadow-color) r g b / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(from var(--shadow-color) r g b / 0.05);
  --shadow-sm:
    0 1px 3px 0px rgb(from var(--shadow-color) r g b / 0.1),
    0 1px 2px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow:
    0 1px 3px 0px rgb(from var(--shadow-color) r g b / 0.1),
    0 1px 2px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow-md:
    0 1px 3px 0px rgb(from var(--shadow-color) r g b / 0.1),
    0 2px 4px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow-lg:
    0 1px 3px 0px rgb(from var(--shadow-color) r g b / 0.1),
    0 4px 6px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow-xl:
    0 1px 3px 0px rgb(from var(--shadow-color) r g b / 0.1),
    0 8px 10px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow-2xl: 0 1px 3px 0px rgb(from var(--shadow-color) r g b / 0.1);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.967 0.003 264.542);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.967 0.003 264.542);
  --primary: oklch(0.696 0.17 162.48);
  --primary-foreground: oklch(0.95 0.052 163.051);
  --secondary: oklch(0.704 0.14 182.503);
  --secondary-foreground: oklch(0.953 0.051 180.801);
  --muted: oklch(0.21 0.034 264.665);
  --muted-foreground: oklch(0.928 0.006 264.531);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.967 0.003 264.542);
  --destructive: oklch(0.645 0.246 16.439);
  --destructive-foreground: oklch(0.941 0.03 12.58);
  --border: oklch(0.21 0.034 264.665);
  --input: oklch(0.21 0.034 264.665);
  --ring: oklch(0.446 0.03 256.802);
  --radius: 0.5rem;
  --comfortaa: "Comfortaa", "Arial";
  --jet-brains-mono: "JetBrainsMono", "Arial";
  --quicksand: "Quicksand", "Arial";
}

@theme inline {
  --font-comfortaa: var(--comfortaa);
  --font-jet-brains-mono: var(--jet-brains-mono);
  --font-quicksand: var(--quicksand);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-xs: calc(var(--radius) - 8px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 4px);
  --radius-xl: calc(var(--radius) + 8px);
  --radius-2xl: calc(var(--radius) + 12px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-menu: var(--shadow-menu);
  --shadow-sidebar: var(--shadow-sidebar);
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--accent));
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--primary) / 0.7);
  border-radius: var(--radius);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
